//
//  Settings: Chopstick settings
//  ---
//  Your default settings
//  ---
//  Colors
//  Modular scale
//  Font settings
//  UI (border-radius, -width, -style)
//  Z-indexes
//  Breakpoints
//  Grid
//  Increments
//  Animations
//  Tools
//


// ---
// Colors
// ---

// Palette function > eg. palette(color-alpha,base)
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}

// Base colors
$color-neutral              : #aaa !default;

$color-alpha                : #0074D9 !default;
$color-beta                 : #2ECC40 !default;

$color-error                : #FF4136 !default;
$color-success              : #2ECC40 !default;
$color-notice               : #FF851B !default;

// Palettes
$palettes: (
    color-neutral: (
        x-light             : hsl(hue($color-neutral),0,100),
        light               : hsl(hue($color-neutral),0,90),
        base                : $color-neutral,
        dark                : hsl(hue($color-neutral),0,30),
        x-dark              : hsl(hue($color-neutral),0,10)
    ),
    color-alpha: (
        light               : hsl(hue($color-alpha),70,60),
        base                : $color-alpha,
        dark                : hsl(hue($color-alpha),100,25),
        x-dark              : hsl(hue($color-alpha),100,15)
    ),
    color-beta: (
        light               : hsl(hue($color-beta),70,60),
        base                : $color-beta,
        dark                : hsl(hue($color-beta),100,25),
        x-dark              : hsl(hue($color-beta),100,15)
    ),
    color-error: (
        light               : hsl(hue($color-error),70,60),
        base                : $color-error,
        dark                : hsl(hue($color-error),100,35),
    ),
    color-success: (
        light               : hsl(hue($color-success),70,60),
        base                : $color-success,
        dark                : hsl(hue($color-success),100,35),
    ),
    color-notice: (
        light               : hsl(hue($color-notice),70,60),
        base                : $color-notice,
        dark                : hsl(hue($color-notice),100,35),
    )
) !default;


// ---
// Modular scale
// ---

// manual modular scale font sizes
// based on http://modularscale.com/scale/?px1=16&px2=18&ra1=1.333&ra2=0

$ms-3                       : 11 !default;
$ms-2                       : 12 !default;
$ms-1                       : 14 !default;
$ms0                        : 16 !default;
$ms1                        : 18 !default;
$ms2                        : 21 !default;
$ms3                        : 23 !default;
$ms4                        : 28 !default;
$ms5                        : 31 !default;
$ms6                        : 37 !default;
$ms7                        : 42 !default;
$ms8                        : 50 !default;
$ms9                        : 56 !default;
$ms10                       : 67 !default;
$ms11                       : 75 !default;
$ms12                       : 89 !default;
$ms13                       : 100 !default;

// ---
// Font settings
// ---

$alpha-font-family          : sans-serif;
$beta-font-family           : serif;

$alpha-font-size            : $ms0;

$alpha-font-weight          : 400;
$beta-font-weight           : 700;

$alpha-line-height          : 1.5;

$alpha-leading              : 1;
$beta-leading               : 2;

// ---
// UI
// ---

$radius                     : 5px;
$border-width               : 1px;
$border-style               : solid;


// ---
// Z-indexes
// ---

$z-indexes: (
    alpha                   : 1,
    beta                    : 2,
    gamma                   : 3,
    delta                   : 4,
    epsilon                 : 5
) !default;

// ---
// Breakpoints
// ---

$breakpoints: (
    bp1                     : 320/16*1em,
    bp2                     : 480/16*1em,
    bp3                     : 680/16*1em,
    bp4                     : 960/16*1em,
    bp5                     : 1140/16*1em
) !default;

// ---
// Grid
// ---

// 1 times the $alpha-font-size. It's calculated in rem in _tools.spacing.scss
$columns-gutter             : 1 !default;

// Define the amount of columns in the grid
$columns: (
    2,
    3,
    4,
    5,
    6
) !default;

// ---
// Increments
// ---

$increments: (
    alpha                   : 0,
    beta                    : .5,
    gamma                   : 1,
    delta                   : 1.5,
    epsilon                 : 2
) !default;

// ---
// Animations
// ---

$animation-duration-alpha   : .1s;
$animation-duration-beta    : .2s;
$animation-duration-gamma   : .3s;
$animation-easing-alpha     : ease-in-out;
$animation-easing-beta      : cubic-bezier(.68, -.55, .265, 1.55); // bouncy

// ---
// Tools
// ---

$debug-mode                 : false !default; // toggles the debug mode
